%h1
  =@project.project_name
%table
  -@project.surveys.each do |survey|
    %tr.survey
      %td.survey_date
        = format_month_and_year(survey)
      %td.survey_respond_link
        = link_to "Respond", :controller => "surveys", :action => "respond", :id => survey
      %td.survey_edit_link
        = link_to "Edit", [@project, survey]
= link_to "New Survey", new_project_survey_path(@project)
