#content
  %h1#page-title
    = format_month_and_year(@survey)
  #notice
    =notice
  - @questions.each do |question|
    .question-text
      = question.question_text

  %h1
    Add a new Question
  = render 'questions/form'
